body {
    background-color: #ffffff;
    color: rgb(29, 36, 49);
}

h1,h2,h3,h4,h5,h6,button,input,label{
    font-family: 'nunito';
    font-weight: bold;
}

.navbar {
    background-color: rgb(29, 36, 49);
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #ffffff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-control-prev,
.carousel-control-next {
    color: rgb(29, 36, 49);
}

.carousel-item{
    max-width: 40rem ;
    text-align: center;
    margin: 0 auto;
}

.banner h4 {
    color: rgb(29, 36, 49);
}

.container-blood-storage {
    margin-top: 5em;
}

.row-blood-storage {
    justify-content: center;
}

.box-blood-storage {
    margin: 1em;
    border: 2px solid rgb(29, 36, 49);
    width: 250px;
    border-radius: 10px;
    background-color: #284f75;
    display: inline-block;
    width: 180px;
    height: 150px;
}

.box-blood-storage h4 {
    color: white;
}

.box-blood-storage p {
    color: white;
}

.main-container {
    height: 65vh; 
    overflow: auto;
    background-color: rgb(163, 184, 233); 
    
  }
#post-container {
    padding-top: 20px; 
}

.card{
    border: none;
    background-color: rgb(106, 140, 202);
}

ul{
    font-family: 'nunito';
    font-weight: bold;
    color: white;
}
